@use '../../styles/colors';

.header {
  background-color: colors.$background_paper;
}

.background_default {
  background: colors.$background_default;
}

.primaryText {
    color: colors.$text_primary;
}
