@use "../../styles/colors.scss";

.header {
  background: colors.$background_paper;
}

.background-default {
  background: colors.$background_default;
}

.text-primary {
    color: colors.$text_primary;
}
